@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> This App Was Designed To Make Adding To Your Growing Customer Base Simple, And Secure!</p>
    <p> Please Enjoy. </p>
</div>
